@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Montserrat:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --header: 4rem;
}

body{
    background: linear-gradient(0deg, #f0f0f0, #0d0d0d 50%);
}

.header{
    background-color: rgba(13, 13, 13, 0.700);
    color: rgba(240, 240, 240, 1);
    height: var(--header);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;   
    top: 0;
    width: 100%;
    z-index: 2;
}

.logo{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2rem;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.menu_item{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #f0f0f0;
    text-decoration: none;
}
.menu_item:hover{
    text-decoration: underline;
}
/*FIM DO HEADER*/

.main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}

.apresentacao{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-around;
    padding-top: var(--header);
    align-items: center;
}

.apresentacao_texto{
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: 'Montserrat', sans-serif;
}
.apresentacao_titulo{
    font-weight: 400;
    font-size: xx-large;
}
.apresentacao_subtitulo{
    font-weight: 100;
    font-size: x-large;
}
.Cloud{
    width: 20rem;
}
/*FIM DA APRESENTAÇÃO*/

.projetos{
    padding-top: var(--header);
    border-top: 1px solid #f0f0f0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5rem;
}
.projeto_titulo{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #f0f0f0;
    font-size: x-large;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0d0d0d;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    width: 22rem;
}
.card_titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #0d0d0d;
}
.card_texto{
    background-color: rgba(13, 13, 13, 0.950);
    font-weight: 100;
    color: #f0f0f0;
    padding: 1.5rem;
    margin-top: 0.3rem;
}
.cardparte1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cardparte2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card1{
    width: 15rem;
}
/*FIM DOS PROJETOS*/

.SobreMim{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #0d0d0d;
    padding: var(--header) 0;
}
.SobreMim_titulo_div{
    display: flex;
    padding-bottom: 2rem;
}
.SobreMim_titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #0d0d0d;
    font-size: x-large;
}
.icon{
    width: 1.5rem;
}
.SobreMim_texto{
    padding: 0 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: justify;
}
/*FIM PARTE SOBREMIM*/

.Contatos{
    border-top: 1px solid #0d0d0d;
    padding: var(--header) 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.Contatos_titulo{
    padding-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: x-large;
    margin: 0 auto;
}
.contato1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #0d0d0d;
}
.link{
    color: #0d0d0d;
}
.link:hover{
    text-decoration: underline;
}
.contatostotal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*FIM DA PARTE CONTATOS*/

.rodape{
    border-top: 1px solid #0d0d0d;
    display: flex;
    justify-content: center;
}
.logofooter{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2rem;
    padding: 1rem 0;
}